<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47519789907-ida01866haer5d44cpb3ns7mp783o5hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47519789907-ida01866haer5d44cpb3ns7mp783o5hu</string>
	<key>API_KEY</key>
	<string>AIzaSyARdyogKX55GIISOgKkch3f53wm35a99mk</string>
	<key>GCM_SENDER_ID</key>
	<string>47519789907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.househunt</string>
	<key>PROJECT_ID</key>
	<string>rentit-6cfbe</string>
	<key>STORAGE_BUCKET</key>
	<string>rentit-6cfbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47519789907:ios:9eaa9a9b8130c98780a7a6</string>
</dict>
</plist>